.main {
  width: 100%;
}

.main__container {
  width: 250px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container:hover {
  opacity: 0.2;
}