.main {
  border: 1px solid black;
  /*width: calc(100% - 240px - 20px);*/
  margin: 10px 15px 0 0;
  height: 100vh;
  align-self: flex-end;
  transition: width ease-in-out .5s;
}

.sidebar:hover {
  cursor: pointer;
}