.search {
  width: 150px;
  height: 50px;
  background-color: #0f1535;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(226, 232, 240, 0.3);
  transition: width ease-in-out .3s;
}

.search:hover {
  cursor: pointer;
}
