.search__icon {
  width: 20px;
  height: 20px;
  border-radius: 5%;
  background-image: url(../../../images/search/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  /*align-self: stretch;*/
  border: 0;
  margin: 0 0 0 10px;
  /*border-right: 1px solid rgba(226, 232, 240, 0.3);*/
  padding: 0;
  position: relative;
  z-index: 1;
  transition: width ease-in-out 0.1s;
}
